---
title: "Testimonial"
---

<section id="testimonialContainer" class="parallax-panel animation-object testimonial-container" data-panel="testimonial">
    <div class="logo-container">
        <img class="panel-logo absolute-logo" src="/img/logo-niteco-black.png" alt="logo niteco" />
    </div>
    <div id="testimonialContainerSlider" class="testimonial-carousel-container">
        <div class="testimonial-panel">
            <div class="panel-bg" style="background-image: url('/img/testimonial-bg.jpg');">
                <div class="container-fluid testimonial-item-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-6 testimonial-left">
                            <div class="testimonial-header">
                                <h1>Dagens Nyheter</h1>
                                <div class="testimonial-header-our">
                                    <h2>Our Work</h2>
                                </div>
                                <div class="testimonial-header-underline">
                                    <span class="testimonial-header-underline-content"></span>
                                </div>
                            </div>
                            <div class="testimonial-des">
                                The Dagens Nyheter app makes it easy for subscribers to read today's newspaper (eDN), where you are. It also gives quick access to all the latest news in our live news feed (DN.se).
                                Get the latest news updates, read stories and interviews from all around the world, follow live coverage of the major sporting avents, keep track of how the stock market goes and see all the clips and programs from DN.TV.
                            </div>
                            <a class="niteco-fat-button btn-red">VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial-panel">
            <div class="panel-bg" style="background-image: url('/img/testimonial-bg-2.png');">
                <div class="main">
                    <div class="content">
                        <h1>What Our Clients Say</h1>
                        <div class="underline__border"></div>
                        <div class="img__quote"></div>
                        <div class="quote__text">
                            <p>"Niteco has proper foundation for hosting and providing sevices that EPiSever was looking for. It was an easy decision for us, as they has the correct resources coupled with strategic experience and the availability of skilled engineers. We value thier transparent work-ethic and would recommend Niteco to anyone looking for excellent and cost-efficient deliveries within the Asia Pacific time zone. So far everything has been extremely well done and well-organized."</p>
                        </div>
                        <div class="quote__about">
                            <p>Jens Nyg&aring;rd</p>
                            <span>Developer Support & Expert Services Manager from EPiServer AB</span>
                            <p><img src="/img/episerver-logo.png" alt="episerver" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial-panel">
            <div class="panel-bg" style="background-image: url('/img/testimonial-bg-1.png');">
                <div class="container-fluid testimonial-item-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-2 testimonial-right">
                            <div class="testimonial-header">
                                <h1>Dialing App</h1>
                                <div class="testimonial-header-our">
                                    <h2>Our Work</h2>
                                </div>
                                <div class="testimonial-header-underline">
                                    <span class="testimonial-header-underline-content"></span>
                                </div>
                            </div>
                            <div class="testimonial-des">
                                Dialing's mobile app for the Dialing web-based Call Center System allows managers to view statistics and create goals at the callcenter, campaign or agent level.
                                The dashboard gives managers an easy way to follow their key statistics and goads in real time wherever they are. For sales coaches, this is a revolutionary tool allowing them to be on the move and coach their agents, all whilst update with latest information about their sales. Niteco built and released these Apps in 2015.
                            </div>
                            <a class="niteco-fat-button btn-red">VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial-panel">
            <div class="panel-bg" style="background-image: url('/img/testimonial-bg-2.png');">
                <div class="main">
                    <div class="content">
                        <h1>What Our Clients Say</h1>
                        <div class="underline__border"></div>
                        <div class="img__quote"></div>
                        <div class="quote__text">
                            <p>"Based on my working relationship with Niteco, it's guaranteed that any given project will result in a beneficial and fruitful collaboration. Spinifex was looking for skilled EPiServer developers to continue working on projects we have, which includes doing enhancements and bug fixes. I value the availability of thier developers the most, and the easiness of communicating with them directly on a regular basic. Skill levels are high and task assigned are always delivered fast. On top of that, they offer a very competitive cost for EPiServer developer resources. The result has been excellent, I've really had no issues whatsoever dealing with Niteco."</p>
                        </div>
                        <div class="quote__about">
                            <p>Jan Montano</p>
                            <span>Team Leader at Spinifex</span>
                            <p><img src="/img/spinifex-logo.png" alt="episerver" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


