
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="error__message editorial text--large">
        <!-- NOTE: Page title -->
        <h1 class="error__message-heading">Error...500</h1>
        <!-- NOTE: Richtext content -->
        <p>The page you were looking for appears to have been moved, deleted or does not exist. You could go back to where you were or head straight to our <a href="#" class="link">home page</a></p>
        <!-- End -->
    </div>
</body>
</html>
