@model AboutUsPage

<section id="aboutContainer" class="parallax-panel" data-panel="about-us">
    @Html.PropertyFor(x => x.MainContentArea, new { CustomTag = "", CssClass = "", ChildrenCustomTagName = "div", ChildrenCssClass = "container-fluid aboutUs-item-container"})
</section>
    
