@model  Niteco.ContentTypes.Pages.ContactUsItemPage

<div class="certificate-item-logo-contain contact-option-icon">
    <img src="@Url.ContentUrl(Model.PageIcon)" alt="@Model.DisplayName" />
</div>
<span class="certificate-item-number">@Model.DisplayName</span>
<div class="certificate-item-description contact-option-desc">@Model.SubHeading</div>