<div class="footer-page" data-require="base/footer">
    <div class="container">
        <div class="footer-page__partner-container">
            <span>
                <img src="/img/footer_microsoft.png" alt="" />
            </span>
            <span>
                <img src="/img/footer_episerver.png" alt="" />
            </span>
        </div>

        <div class="footer-page__copyright">
            &copy; 2015 niteco.com
        </div>
        <div class="footer-page__social">
            <a class="footer-page__social__facebook" href="#" title=""></a>
            <a class="footer-page__social__linkin" href="#" title=""></a>
        </div>
    </div>
</div>