#Grunt
node_modules/

#Bower
bower_components/

#OS junk files
[Tt]humbs.db
*.DS_Store
*.log
*.orig

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
# [Dd]ebug/

[Bb]in/[Rr]elease/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache
WebEssentials-Settings.json

#Project files
[Bb]uild/

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

#performance monitors
*.vsp
*.psess

Tools/RDP/*


*.log
*.min.css
*.map

# EPiServer
Niteco.Web/App_Data/blobs/*
Niteco.Web/App_Data/Index/*
Niteco.Web/App_Data/*
Niteco.Web/appData/Index/*
Niteco.Web/License.config
Niteco.Web/[Bb]in/
Niteco.Web/obj/*
Niteco.Web/bin/*
Niteco.Web/Bin/*

Niteco.Search/[Bb]in/
Niteco.Search/[Oo]bj/

Niteco.Search.IndexingService/[Bb]in/
Niteco.Search.IndexingService/[Oo]bj/

Niteco.Common/bin/*
Niteco.ContentTypes/bin/*
Niteco.Core/bin/*
Niteco.Search/bin/*
Niteco.Search.IndexingService/bin/*
ImageResizer/bin/*
ImageResizer.Mvc/bin/*
ImageResizer.Plugins/bin/*

Niteco.Common/bin
Niteco.ContentTypes/bin
Niteco.Core/bin
ImageResizer/bin
ImageResizer.Mvc/bin
ImageResizer.Plugins/bin

Niteco.Cdn/[Bb]in
Niteco.Cdn/[Oo]bj
#npm
Niteco.Web/bower_components
Niteco.Web/node_modules
Niteco.Web/Static/scripts/lib/bower
Niteco.Web/Static/compiled/
Niteco.Web/Static/scripts/templates/
Niteco.Web/js/
Niteco.Web/videos/
Niteco.Web/css/
Niteco.Web/fonts/
Niteco.Web/img/
Niteco.Web/validation-status.json
Niteco.Web/Static/styles/_normalize.scss
.vs/config/applicationhost.config
dlls/release/ImageResizer.dll
dlls/release/ImageResizer.Mvc.dll
dlls/release/ImageResizer.Mvc.pdb
dlls/release/ImageResizer.Mvc.XML
dlls/release/ImageResizer.pdb
dlls/release/ImageResizer.XML
.vs/config/applicationhost.config

node_modules/
