
<div id="certificateContainer" class="container-fluid certificate-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 certificate-item animation-object">
            <div class="certificate-item-logo-contain">
                <img src="/img/epi_logo.png" alt="episerver logo" />
            </div>
            <span class="certificate-item-number">80</span>
            <div class="certificate-item-description">Certified EPiServer Developers</div>
        </div>
        <div class="col-xs-12 col-sm-4 certificate-item animation-object">
            <div class="certificate-item-logo-contain">
                <img src="/img/microsoft_tech.png" alt="microsoft tech" />
            </div>
            <span class="certificate-item-number">35</span>
            <div class="certificate-item-description">Certified Microsoft Developers</div>
        </div>
        <div class="col-xs-12 col-sm-4 certificate-item animation-object">
            <div class="certificate-item-logo-contain">
                <img src="/img/mobile_develop.png" alt="microsoft tech" />
            </div>
            <span class="certificate-item-number">64</span>
            <div class="certificate-item-description">Certified Mobile Developers</div>
        </div>
    </div>
</div>
