<div id="serviceContainer" class="container-fluid service-container">
    <div class="row">
        <div class="col-xs-4 col-sm-15 service-item animation-object">
            <a href="#" title="">
                <span class="service-item-icon">
                    <img src="/img/icon_ux.png" alt="" />
                    <img class="active" src="/img/icon_ux_active.png" alt="" />
                </span>
                <span class="service-item-text">UI/UX Design</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-15 service-item animation-object">
            <a href="#" title="">
                <span class="service-item-icon">
                    <img src="/img/icon_lamp.png" alt="" />
                    <img class="active" src="/img/icon_lamp_active.png" alt="" />
                </span>
                <span class="service-item-text">Web & CMS Development</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-15 service-item animation-object">
            <a href="#" title="">
                <div class="service-item-icon">
                    <img src="/img/icon_mobile.png" alt="" />
                    <img class="active" src="/img/icon_mobile_active.png" alt="" />
                </div>
                <span class="service-item-text">Mobile Development</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-15 service-item animation-object">
            <a href="#" title="">
                <span class="service-item-icon">
                    <img src="/img/icon_testing.png" alt="" />
                    <img class="active" src="/img/icon_testing_active.png" alt="" />
                </span>
                <span class="service-item-text">Software Development</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-15 service-item animation-object">
            <a href="#" title="">
                <span class="service-item-icon">
                    <img src="/img/icon_tech_consultant.png" alt="" />
                    <img class="active" src="/img/icon_tech_consultant_active.png" alt="" />
                </span>
                <span class="service-item-text">View All Services</span>
            </a>
        </div>
    </div>
</div>
