---
title: 'News List Footer'
---

<section class="home-block-row news-list-footer container-zindex-one" data-require="base/click-item">
    <div class="news-list-footer__item home-block-item home-block-item__dark-bg checking-animate inactive slide-in-from-left">
        {{> _home_block_item home.meetTheExperts}}
    </div>
    <div class="news-list-footer__item home-block-item home-block-item__bright-bg checking-animate inactive slide-in-from-right">
        {{> _home_block_item home.seeWhatWeDo}}
    </div>
</section>
