<div class="blog-list-content__container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-7">
                {{> _blog-list-articles blog-list.articles}}
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-1">
                {{> blog-list-sidebar}}
            </div>
        </div>
    </div>
</div>