.blog-list-content__container {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 100px 0 50px 0;

    @include respond-to-max($desktopSize) {
        padding-top: 50px;
    }

    @include respond-to-max($phonePortrait) {
        padding-top: 40px;
    }

    &.sticky-sidebar {
        .wrap {
            position:fixed;
            display:block;
        }
    }

    &.at-bottom {
        .wrap {
            position:absolute;
            bottom:0;
            top:inherit;
        }
    }
}
.sticky-stop {
    clear:both;

}