<div class="blog-list-sidebar__container">
    <div class="blog-list-sidebar__widget blog-list-sidebar__widget_search" data-require="base/search-validation">
        <div class="blog-list-sidebar__widget-title">
            <h2>Search the blog</h2>
            <div class="yellow-divider"></div>
        </div>
        <div class="blog-list-sidebar__widget-content">
            <div class="blog-list-sidebar__widget_search-form">
                <form action="" method="post">
                    <input type="text" class="blog-list-sidebar__widget_search-form__input-field" placeholder="Search..." />
                    <input type="submit" class="blog-list-sidebar__widget_search-form__submit" value="Search" />
                </form>
            </div>
        </div>
    </div>

    <div class="blog-list-sidebar__widget blog-list-sidebar__widget_cate">
        <div class="blog-list-sidebar__widget-title">
            <h2>Categories</h2>
            <div class="yellow-divider"></div>
        </div>
        <div class="blog-list-sidebar__widget-content">
            <nav class="blog-list-sidebar__widget_cate-nav">
                <ul>
                    <li class="active"><a href="#">Episerver <span class="articles-in-category">(94)</span></a></li>
                    <li><a href="#">Code samples <span class="articles-in-category">(22)</span></a></li>
                    <li><a href="#">CMS 7 <span class="articles-in-category">(18)</span></a></li>
                    <li><a href="#">CMS 9 <span class="articles-in-category">(11)</span></a></li>
                    <li><a href="#">CMS 8 <span class="articles-in-category">(10)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="blog-list-sidebar__widget blog-list-sidebar__widget_cate">
        <div class="blog-list-sidebar__widget-title">
            <h2>Top Authors</h2>
            <div class="yellow-divider"></div>
        </div>
        <div class="blog-list-sidebar__widget-content">
            <nav class="blog-list-sidebar__widget_cate-nav">
                <ul>
                    <li class="active"><a href="#">Linus Ekstrom <span class="articles-in-category">(94)</span></a></li>
                    <li><a href="#">Pelle Niklasson <span class="articles-in-category">(22)</span></a></li>
                    <li><a href="#">Ross Fenner <span class="articles-in-category">(18)</span></a></li>
                    <li><a href="#">Maryori <span class="articles-in-category">(11)</span></a></li>
                    <li><a href="#">Yen.Nguyen <span class="articles-in-category">(10)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="blog-list-sidebar__widget blog-list-sidebar__widget_tags">
        <div class="blog-list-sidebar__widget-title">
            <h2>Top Tags</h2>
            <div class="yellow-divider"></div>
        </div>
        <div class="blog-list-sidebar__widget-content">
            <nav class="blog-list-sidebar__widget_tags-clouds">
                <ul>
                    <li><a href="#">configuration <span class="articles-in-category">(27)</span></a></li>
                    <li><a href="#">windows <span class="articles-in-category">(23)</span></a></li>
                    <li class="active"><a href="#">ux design <span class="articles-in-category">(21)</span></a></li>
                    <li><a href="#">ui design <span class="articles-in-category">(17)</span></a></li>
                    <li><a href="#">template foundation <span class="articles-in-category">(13)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="blog-list-sidebar__widget blog-list-sidebar__widget_hiring" id="blog-list-sidebar__widget_hiring" data-require="base/sticky-sidebar">
        <div class="blog-list-sidebar__widget-title">
            <h2>We are hiring!</h2>
            <div class="yellow-divider"></div>
        </div>
        <div class="blog-list-sidebar__widget-content">
            <div class="blog-list-sidebar__widget_hiring-content">
                <div class="blog-list-sidebar__widget_hiring-content__description">
                    <p>At Niteco, work doesn't mean labor. It means growth. Below are working positions up for grabs. We will invite you for an interview if your application meets our requirements.</p>
                </div>
                <nav class="blog-list-sidebar__widget_hiring-content__positions">
                    <ul>
                        <li><a href="#">Senior Automation Tester <span class="positions-location">(Hanoi)</span></a></li>
                        <li><a href="#">Niteco Young Talent 2016 <span class="positions-location">(Hanoi)</span></a></li>
                        <li class="active"><a href="#">Senior Microsoft Dynamics AX Developer <span class="positions-location">(HCM)</span></a></li>
                        <!--<li><a href="#">Front-end Developer <span class="positions-location">(Hanoi, HCM or Sweden)</span></a></li>
                        <li><a href="#">Senior .NET Developer <span class="positions-location">(Hanoi or HCM)</span></a></li>
                        <li><a href="#">Sharepoint 2014 Developer <span class="positions-location">(Hanoi or HCM)</span></a></li>
                        <li><a href="#">Senior Tester <span class="positions-location">(Hanoi)</span></a></li>
                        <li><a href="#">QA Lead <span class="positions-location">(Hanoi)</span></a></li>-->
                    </ul>
                    <a href="#" alt="More Jobs" class="blog-list-sidebar__widget__more-link">View all jobs</a>
                </nav>
            </div>
        </div>
    </div>
</div>