<div>
<div class="nis-intro">
  <img src="/img/nis-intro.png"/>
</div>
<div class="service-contact__container">
  
  <div class="container">
    <div class="row nis-infor ">
      <div class="col-xs-12 col-sm-9 info">
        <p>
          <strong>Looking for more information?</strong> Check our media
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 button-list clear">
        <a href="#" class="download-brochure">
          <span></span>Download brochure
        </a>
        <a href="#" class="take-video-tour">
          <span></span>take a video tour
        </a>
      </div>
    </div>
  </div>
</div>
</div>
 