{{> _page-description nis.indesign}}
<div class="service-item-detail__container nis-item-detail">
    <div class="container" style="z-index: 9">
        <img class="nis-item-detail__image checking-animate inactive hidden-xs hidden-sm" src="/img/nis-img3.png" alt="" />
        <div class="nis-item-detail__content checking-animate inactive">
            <div class="nis-item-detail__title">Nis Custom Panels</div>
            <div class="orange-divider service-listing__yellow-underline">
            </div>
            <img class="service-item-detail__image-mobile hidden-md hidden-lg" src="/img/nis-img3.png" alt="" />
            <div class="nis-item-detail__description">
                <ul class="product-list">
                    <li>1. Project Panel</li>
                    <li>2. Catalog Panel</li>
                    <li>3. Media Panel</li>
                    <li>4. Logging Panel</li>
                </ul>
                <ul class="product-list">
                    <li>5. Mapping Panel</li>
                    <li>6. Connector Panel</li>
                    <li>7. Template Panel</li>
                    <li>8. Imagevault Panel</li>
                </ul>
            </div>
        </div>
    </div>
</div>