<div class="testimonial-container" style="background-image: url(/img/nis-background-video.png)">
    <div class="nis__container">
        <h2 class="nis-video__title">Watch The Demo Video's To Learn More</h2>
        <div class="yellow-divider">
        </div>
    </div>

    <div class="testimonial_content testimonial-carousel__video" data-require="base/carousel-slider">
        <div class="testimonial-carousel-container">
            <div class="testimonial-panel">
                <div class="nis-video__container">
                    <div class="container nis-video__frame" data-require="base/video_youtube">
                        <img src="/img/nis-video-1.png" alt="" />
                        <a class="nis-detail-video-play-button" href="https://www.youtube.com/watch?v=sbVjDgzwKzk" title="" data-youtube-button="">
                            <span class="video-play-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="testimonial-panel">
                <div class="nis-video__container">
                    <div class="container nis-video__frame" data-require="base/video_youtube">
                        <img src="/img/nis-video-1.png" alt="" />
                        <a class="nis-detail-video-play-button" href="https://www.youtube.com/watch?v=kWULBGD7s_4" title="" data-youtube-button="">
                            <span class="video-play-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="testimonial-panel">
                <div class="nis-video__container">
                    <div class="container nis-video__frame" data-require="base/video_youtube">
                        <img src="/img/nis-video-1.png" alt="" />
                        <a class="nis-detail-video-play-button" href="https://www.youtube.com/watch?v=x5BqnnvwMxc" title="" data-youtube-button="">
                            <span class="video-play-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="testimonial-panel">
                <div class="nis-video__container">
                    <div class="container nis-video__frame" data-require="base/video_youtube">
                        <img src="/img/nis-video-1.png" alt="" />
                        <a class="nis-detail-video-play-button" href="https://www.youtube.com/watch?v=tgYYeiKXyfA" title="" data-youtube-button="">
                            <span class="video-play-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="testimonial-panel">
                <div class="nis-video__container">
                    <div class="container nis-video__frame" data-require="base/video_youtube">
                        <img src="/img/nis-video-1.png" alt="" />
                        <a class="nis-detail-video-play-button" href="https://www.youtube.com/watch?v=U-YbfkKY6-Q" title="" data-youtube-button="">
                            <span class="video-play-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
