
<div class="service-item-detail__container" data-id="fullInfo-1">
    <img class="service-item-detail__image nis-image__item checking-animate inactive {{animation-type-detail-image}} hidden-xs hidden-sm" src="/img/nis-img1.png" alt="" />

    <div class="container">
        <div class="service-item-detail__content checking-animate inactive {{animation-type-detail-text}}">
            <div class="service-item-detail__title">Simple Example</div>
            <div class="orange-divider service-listing__yellow-underline">
            </div>
            <img class="service-item-detail__image-mobile hidden-md hidden-lg" src="/img/nis-img1.png" alt="" />
            <div class="service-item-detail__description">
                Let's look at a simple example. Imagine you want to produce a
                business card template for your company, and you have a
                team list stored in your CMS.

                You spot some things in the PDF that were updated incorrectly.
                Simply update the content directly in the EPiServer CMS, and
                click to send a new job to the InDesign Server. The flexible
                workflow allows you to work with or without InDesign and
                InDesign Server licenses.
            </div>
        </div>
    </div>
</div>
<div class="service-item-detail__container" data-id="fullInfo-2">
    <img class="service-item-detail__image nis-image__item checking-animate inactive {{animation-type-detail-image}} hidden-xs hidden-sm" src="/img/nis-img1.png" alt="" />

    <div class="container">
        <div class="service-item-detail__content checking-animate inactive {{animation-type-detail-text}}">
            <div class="service-item-detail__title">Simple Example</div>
            <div class="orange-divider service-listing__yellow-underline">
            </div>
            <img class="service-item-detail__image-mobile hidden-md hidden-lg" src="/img/nis-img1.png" alt="" />
            <div class="service-item-detail__description">
                Let's look at a simple example. Imagine you want to produce a
                business card template for your company, and you have a
                team list stored in your CMS.

                You spot some things in the PDF that were updated incorrectly.
                Simply update the content directly in the EPiServer CMS, and
                click to send a new job to the InDesign Server. The flexible
                workflow allows you to work with or without InDesign and
                InDesign Server licenses.
            </div>
        </div>
    </div>
</div>