<div class="list-service-detail">
  <div class="service-item-detail__container"></div>
  <div class="service-item-detail__container">
    <img class="service-item-detail__image checking-animate slide-in-from-left hidden-xs hidden-sm" src="/img/simple-exampge.png" alt="" />
    <div class="container">
      <div class="service-item-detail__content checking-animate slide-in-from-right">
        <div class="service-item-detail__title">Simple Example</div>
        <div class="orange-divider service-listing__yellow-underline">
        </div>
        <img class="service-item-detail__image-mobile hidden-md hidden-lg"  src="/img/simple-exampge.png" alt="" />
        <div class="service-item-detail__description">
          Let's look at a simple example. Imagine you want to produce a
          business card template for your company, and you have a
          team list stored in your CMS.
        </div>
        <div class="service-item-detail__description description__bellow">
          You spot some things in the PDF that were updated incorrectly.
          Simply update the content directly in the EPiServer CMS, and
          click to send a new job to the InDesign Server. The flexible
          workflow allows you to work with or without InDesign and
          InDesign Server licenses.
        </div>
      </div>
    </div>
  </div>
  <div class="service-item-detail__container">
    <img class="service-item-detail__image checking-animate slide-in-from-top hidden-xs hidden-sm" src="/img/commerce-integration.png" alt="" />
    <div class="container">
      <div class="service-item-detail__content checking-animate slide-in-from-bottom">
        <div class="service-item-detail__title">Commerce Integration</div>
        <div class="orange-divider service-listing__yellow-underline">
        </div>
        <img class="service-item-detail__image-mobile hidden-md hidden-lg"  src="/img/commerce-integration.png" alt="" />
        <div class="service-item-detail__description">
          You manage an e-commerce store, and manage your product
          listings in a PIM or directly in the website.
        </div>
        <div class="service-item-detail__description description__bellow">
          Our integration with EPiServer Commerce means that you can
          simply select the products or categories that you'd like to
          feature in your latest catalogue, and the catalogue is instantly
          produced. Including all appropriate pricing, options, images,
          descriptions, and other content.
        </div>
      </div>
    </div>
  </div>
</div>


