<div class="service-item-detail__container">
  <div class="container">
        <img class="service-item-detail__image checking-animate inactive hidden-xs hidden-sm" src="/img/product-features.png" alt="" />
        <div class="service-item-detail__content checking-animate inactive">
            <div class="service-item-detail__title">Product Features</div>
            <div class="orange-divider service-listing__yellow-underline">
            </div>
            <img class="service-item-detail__image-mobile hidden-md hidden-lg"  src="/img/service-item-image2.png" alt="" />
            <div class="service-item-detail__description">
                <ul class="product-features_list">
                    <li>Synchronize EPiServer CMS and InDesign content</li>
                    <li>Fully automate creation of collateral with the latest content through InDesign Server and NIS</li>
                    <li>Synchronize any design changes back to EPiServer, for more effective collaboration on content</li>
					          <li>Integrates with EPiServer Commerce data</li>
					          <li>Use EPiServer templates in InDesign without losing formatting</li>
					          <li>Access media content directly from ImageVault</li>
                </ul>
            </div>
        </div>
    </div>
</div>