<div class="about-group__content-container about-offices-block__container ">
    <div class="about-offices-block__bg">
        <img src="/img/verify-ep-background-2.png" alt="" />
    </div>

    <div class="about-offices-block__content container-zindex-one checking-animate inactive fade-in">
        <h3>NIS is one of the select tools <span>Verified By EPiServer</span>and available in the EPiServer Add-on Store</h3>
        <div class="yellow-divider"></div>
    </div>
    <img class="about-offices-block__image checking-animate inactive fade-in" src="/img/verify-ep.png" alt="" />
    <div class="container container-zindex-one checking-animate inactive fade-in">
      <div class="about-offices-block__img"><img src="/img/verify-ep.png" alt="" />
      </div>
        <div class="about-offices-block__description checking-animate inactive slide-in-from-right">
           This means you can be assured it will <span>integrate seamlessly with EPiServer CMS </span>and Commerce with a minimum of configuration. NIS can be          <span>installed directly from the EPiServer Add-on Store,</span> available in the dashboard of every EPiServer site.        </div>
    </div>
</div>