<div class="job-details-sections container-zindex-one">
    <div class="container">
        <div class="row job-details">
            <div class="col-xs-12">
                <h2>Who Uses It?</h2>
                <div class="yellow-divider"></div>
                <p class="job-details-description">
NIS is designed to save enormous amounts of time for editors, designers, and the people that rely on them. Our core customer industries are newspapers, e-commerce, real estate, and large enterprises. But any organisation that designs and produces content for multiple channels will benefit.
				        </p>
            </div>
        </div>
		    <div class="row job-details">
            <div class="col-xs-12">
                <h2>What Does It Do?</h2>
                <div class="yellow-divider"></div>
                <p class="job-details-description">
					                      Creating and designing marketing material often means designers working in Adobe InDesign to                      produce marketing collateral, whilst much of the same content is being produced for the web. Often the web content is directly updated in an EPiServer CMS or Commerce website.                      <br/><br/>                      Plenty of duplicated effort, plenty of wasted time and expensive licenses.                      <br/><br/>                      Using NIS, you can automatically pull the latest content from an EPiServer CMS or Commerce                       website (including pricing, assets, etc), and instantly produce up-to-date product brochures or                      catalogues, real estate listings, PDFs for print or electronic distribution, etc.                      <br/><br/>                      The content and design can then be modified in InDesign and synchonized back to the CMS, or the whole process can be automated through InDesign Server - allowing updated collateral to be                      instantly produced from the CMS interface.                      <br/><br/>                      <span>No designers, licenses, or wasted time required!</span>
				        </p>
            </div>
        </div>
	  </div>
</div>
