@using Niteco.Common.Extensions
@using EPiServer.Web
@model SitePageData

<div class="sticky-container" data-require="base/social-share">
    <ul class="sticky">
        <li>
            <a class="social_button fa-button" href="javascript:void(0);" onclick="@("javascript:window.open('https://www.facebook.com/sharer.php?s=100&p[title]=" + Model.Heading + "&p[url]=" + Model.GetExternalUrl() +
            "&p[images][0]=//" + SiteDefinition.Current.SiteUrl.Host + "/img/niteco-sharing-horizontal.jpg')")">
                <img alt="Facebook Icon" src="/img/fb.png" />
                <p class="hidden-xs">Facebook</p>
            </a>
        </li>
        <li>
            <a class="social_button tw-button" href="javascript:void(0);" onclick="@("javascript:window.open('https://twitter.com/share?url=" + Model.GetExternalUrl() + "')")">
                <img alt="Twitter Icon" src="/img/tw.png" />
                <p class="hidden-xs">Twitter</p>
            </a>
        </li>
        <li>
            <a class="social_button linkedin-button" href="javascript:void(0);" onclick="@("javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url=" + Model.GetExternalUrl() + "')")">
                <img alt="Linked In Icon" src="/img/in.png" />
                <p class="hidden-xs">LinkedIn</p>
            </a>
        </li>
        <li>
            <a class="social_button email-button" href="@("mailto:?subject=" + HttpUtility.HtmlEncode(Uri.EscapeDataString(Model.Heading +"")) + "&body=" + Model.GetExternalUrl())">
                <img alt="Email Icon" src="/img/em.png"/>
                <p class="hidden-xs">Email</p>
            </a>
        </li>
    </ul>
</div>