<section class="parallax-panel">
    <div class="panel-bg introduce-overflow-hidden">
        <div class="panel-bg introduce bgzoom" style="background-image: url('/img/header_bg.jpg');">
        </div>
    </div>
    <img class="panel-logo fixed-logo" src="/img/intro-logo.png" alt="niteco logo"/>
    <div class="container-fluid">
        <div class="introduce-content">
            <div class="introduce-content-image">
                <img src="/img/header-niteco-logo.png" alt="niteco logo main"/>
            </div>
            <div class="introduce-content-text">
                <h2>A World-Class Software Development Company</h2>
            </div>
        </div>
    </div>
</section>
