<button id="btnMenu" class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</button>
<div class="panel-bg" id="menu-down">
    <a href="#"><img class="logo-company" alt="logo-niteco" src="/img/logo.png" /></a>
    <div id="menuContent" class="menu-container">
        <div class="content-menu">
            <ul id="menu-content">
                <li class="tab" id="_home"><a class="tab-active" href="#">HOME</a></li>
                <li class="tab" id="_about"><a href="#">ABOUT US</a></li>
                <li class="tab" id="_services"><a href="#">SERVICES</a></li>
                <li class="tab" id="_products"><a href="#">PRODUCTS</a></li>
                <li class="tab" id="_howwework"><a href="#">HOW WE WORK</a></li>
                <li class="tab" id="_case"><a href="#">CASE STUDIES</a></li>
                <li class="tab" id="_careers"><a href="#">CAREERS</a></li>
                <li class="tab" id="_contact"><a href="#">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <div class="social social__menu">
        <span>
            <a href="#">
                <img src="/Static/images/icon-likedin-hover.png" alt="likedin.com" />
            </a>
        </span>
        <span>
            <a href="#">
                <img src="/Static/images/icon-fb-hover.png" alt="facebook.com" />
            </a>
        </span>
    </div>
</div>





