---
title: "Template"
---
<section>
    <h3>Title center</h3>
    <div class="block-header-contain header-center">
        <h2>
            <span class="normal-text">We Love</span>
            <span class="bold-text">What We Do</span>
        </h2>
        <div class="header-underline">
            <span class="header-underline-content"></span>
        </div>
    </div>
    <hr />

    <h3>Title left</h3>
    <div class="block-header-contain header-left">
        <h2>
            <span class="normal-text">We Love</span>
            <span class="bold-text">What We Do</span>
        </h2>
        <div class="header-underline">
            <span class="header-underline-content"></span>
        </div>
    </div>
    <hr />

    <h3>Title center</h3>
    <div class="block-header-contain header-right">
        <h2>
            <span class="normal-text">We Love</span>
            <span class="bold-text">What We Do</span>
        </h2>
        <div class="header-underline">
            <span class="header-underline-content"></span>
        </div>
    </div>
    <hr />
</section>

