---
title: "About us"
---
<section id="aboutContainer" class="parallax-panel" data-panel="about-us">
    <div class="logo-container">
        <img src="/img/intro-logo.png" class="panel-logo absolute-logo" alt="niteco logo" />
    </div>

    <div class="container-fluid aboutUs-item-container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 aboutUs-image-container animation-object">
                <a href="#" title="A little bit about us">
                    <div class="img-responsive" style="background-image:url('/img/about-us-left.jpg');"></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 aboutUs-content-container animation-object">
                <div class="block-header-contain header-left">
                    <h2>
                        <span class="normal-text">A Little Bit </span>
                        <span class="bold-text">About Us</span>
                    </h2>
                    <div class="header-underline">
                        <span class="header-underline-content"></span>
                    </div>
                </div>

                <div class="about-us-des">Niteco is a world-class software development company based in USA, Sweden, Hong Kong, and Vietnam, creating software for leading companies all over the globe. </div>
                <a class="niteco-button btn-white">Learn more</a>
            </div>
        </div>
    </div>
    <div class="container-fluid aboutUs-item-container layout-right">
        <div class="row">
            <div class="ccol-xs-12 col-sm-6 aboutUs-image-container animation-object">
                <a href="#" title="We have an awesome team">
                    <div class="img-responsive" style="background-image:url(/img/about-us-right.jpg);"></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 aboutUs-content-container animation-object">
                <div class="block-header-contain header-left">
                    <h2>
                        <span class="normal-text">We Have An Awesome </span>
                        <span class="bold-text">Team</span>
                    </h2>
                    <div class="header-underline">
                        <span class="header-underline-content"></span>
                    </div>
                </div>

                <div class="about-us-des">We code hard and test even harder. Our culture is unique to our company which has Scandinavian roots, operating mainly in Asia. Our company's origins, values, and future vision create a culture that combines the best of what the east and west have to offer, for the greater benefits.</div>
                <a class="niteco-button btn-black margin-left-20">Join our team</a>
                <a class="niteco-button btn-white">Meet our team</a>
            </div>
        </div>
    </div>
</section>