<div class="col-xs-12 col-sm-6 col-lg-3 partner-item__column" data-require="base/click-item">
    <a class="partner-item__text" href="#" title="" target="_blank">
        <span>
            Become<br />Our Partner
        </span>
    </a>
</div>