<section id="productContainer" class="parallax-panel product-container animation-object" data-panel="product">
    <div class="logo-container">
        <img class="panel-logo absolute-logo" src="/img/logo-niteco-black.png" alt="niteco logo" />
    </div>

    <div id="productSliderContainer" class="product-carousel-container">
        <div class="product-panel">
            <div class="panel-bg" style="background-image: url('/img/in-print-background.png');">
            </div>
            <div class="panel-content">
                <div class="in-print-container">
                    <div class="in-print-col animation-object">
                        <div class="in-print-col-content">
                            <div class="block-header-contain header-left in-print-block-header-contain">
                                <h2>
                                    <span class="bold-text">Niteco InPrint Studio</span>
                                </h2>
                                <div class="in-print-sub-title">
                                    Our Products
                                    <span class="in-print-sub-title-underline"></span>
                                </div>
                            </div>
                            <div class="in-print-col-des">
                                NIS - Niteco InPrint Studio for EPiServer is an add-on for EPiServer including a native plugin for Adobe InDesign. NIS enhances
                                the ability for editors & designers to simultaneously and remotely work with content, from EPiServer web sites to printing channels.
                            </div>

                            <a class="niteco-fat-button btn-yellow">LEARN MORE</a>
                        </div>
                    </div>
                    <div class="in-print-col-right animation-object">
                        <div class="in-print-col-content">
                            <img src="/img/in-print.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-panel">
            <div class="panel-bg" style="background-image: url('/img/in-print-background.png');">
            </div>
            <div class="panel-content">
                <div class="in-print-container">
                    <div class="in-print-col animation-object">
                        <div class="in-print-col-content">
                            <div class="block-header-contain header-left in-print-block-header-contain">
                                <h2>
                                    <span class="bold-text">Niteco InPrint Studio</span>
                                </h2>
                                <div class="in-print-sub-title">
                                    Our Products
                                    <span class="in-print-sub-title-underline"></span>
                                </div>
                            </div>
                            <div class="in-print-col-des">
                                NIS - Niteco InPrint Studio for EPiServer is an add-on for EPiServer including a native plugin for Adobe InDesign. NIS enhances
                                the ability for editors & designers to simultaneously and remotely work with content, from EPiServer web sites to printing channels.
                            </div>

                            <a class="niteco-fat-button btn-yellow">LEARN MORE</a>
                        </div>
                    </div>
                    <div class="in-print-col-right animation-object">
                        <div class="in-print-col-content">
                            <img src="/img/in-print.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>