.top-navigator__menu-container {
    display: none;
}

.about-offices-block__img {
    display: none;
}
.service-item-detail__container{
    margin-top: 100px;
}
.testimonial-container{
    margin-top: 450px;
}
.footer-page{
    margin-top: 100px;
}
.nis-item-detail__image{
    width: 400px;
    height: 300px;
}
.home-block-row.our-work-footer{
    margin-top: 1000px;
}

