
<div class="container-fluid contact-location-container">
    <div class="row">
        <div class="col-xs-4 col-sm-15 contact-location-item animation-object">
            <h4>Hanoi</h4>
            <div class="contact-location-item-address-container">
                <div class="contact-location-item-address">
                    12B-14-16th Floor, C'Land Tower, 156 Xa Dan II Street, Dong Da District, Hanoi,
                </div>
                <div class="contact-location-item-country">
                    Vietnam
                </div>
            </div>
            <div class="contact-location-item-tel">
                <a href="#" title="tel">+84 (0)4-3573-9623</a>
            </div>
            <div class="contact-location-item-mail">
                <a href="mailto:info@niteco.com" title="mail">info@niteco.com</a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-15 contact-location-item animation-object">
            <h4>Ho chi minh city</h4>
            <div class="contact-location-item-address-container">
                <div class="contact-location-item-address">
                    Unit 2.3, 2nd Floor, E.Town Building 1,364 Cong Hoa Street, Wart 13, Tan Binh District, Ho Chi Minh City
                </div>
                <div class="contact-location-item-country">
                    Vietnam
                </div>
            </div>
            <div class="contact-location-item-tel">
                <a href="#" title="tel">+84 (0)4-3573-9623</a>
            </div>
            <div class="contact-location-item-mail">
                <a href="mailto:info@niteco.com" title="mail">info@niteco.com</a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-15 contact-location-item animation-object">
            <h4>Stockholm</h4>
            <div class="contact-location-item-address-container">
                <div class="contact-location-item-address">
                    Norrtullsgatan 6, 5tr, SE-113 29 Stockholm
                </div>
                <div class="contact-location-item-country">
                    Sweden
                </div>
            </div>
            <div class="contact-location-item-tel">
                <a href="#" title="tel">+46 (0)700-35 58 30</a>
            </div>
            <div class="contact-location-item-mail">
                <a href="mailto:info@niteco.com" title="mail">info@niteco.com</a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-15 contact-location-item animation-object">
            <h4>Palm Desert</h4>
            <div class="contact-location-item-address-container">
                <div class="contact-location-item-address">
                    38505 Bautista Canyon Way, Palm Desert, CA 92260
                </div>
                <div class="contact-location-item-country">
                    USA
                </div>
            </div>
            <div class="contact-location-item-tel">
                <a href="#" title="tel">+1 333-333-3000</a>
            </div>
            <div class="contact-location-item-mail">
                <a href="mailto:usa.info@niteco.com" title="mail">usa.info@niteco.com</a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-15 contact-location-item animation-object">
            <h4>Causeway Bay</h4>
            <div class="contact-location-item-address-container">
                <div class="contact-location-item-address">
                    36/F, Tower Two, Times Square,<br /> 1 Matheson Street, Causeway Bay,
                </div>
                <div class="contact-location-item-country">
                    Hong Kong
                </div>
            </div>
            <div class="contact-location-item-tel">
                <a href="#" title="tel">+1 333-333-3000</a>
            </div>
            <div class="contact-location-item-mail">
                <a href="mailto:hk.info@niteco.com" title="mail">hk.info@niteco.com</a>
            </div>
        </div>
    </div>
</div>
