
<div class="container-fluid certificate-container">
    <div class="row">
        <a class="col-xs-12 col-sm-4 certificate-item contact-option-item animation-object" href="#">
            <div class="certificate-item-logo-contain contact-option-icon">
                <img src="/img/contact_icon_sign.png" alt="" />
            </div>
            <span class="certificate-item-number">Start a project</span>
            <div class="certificate-item-description contact-option-desc">Let's work together</div>
        </a>
        <a class="col-xs-12 col-sm-4 certificate-item contact-option-item animation-object" href="#">
            <div class="certificate-item-logo-contain contact-option-icon">
                <img src="/img/contact_icon_hiring.png" alt="" />
            </div>
            <span class="certificate-item-number">Join our team</span>
            <div class="certificate-item-description contact-option-desc">We'll grow your career</div>
        </a>
        <a class="col-xs-12 col-sm-4 certificate-item contact-option-item animation-object" href="#">
            <div class="certificate-item-logo-contain contact-option-icon">
                <img src="/img/contact_icon_facebook.png" alt="" />
            </div>
            <span class="certificate-item-number">Like our page</span>
            <div class="certificate-item-description contact-option-desc">Like us on Facebook</div>
        </a>
    </div>
</div>
