---
title: 'Service Technology'
---
<div class="service-technology__container">
    <img class="service-technology__bg" src="/img/service-tech-bg.png" alt="" />
    <div class="container">
        <h2 class="service-technology__title">Our Technologies</h2>
        <div class="yellow-divider service-listing__yellow-underline">
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom double-gutter">
                {{> _service-technology-column-static services.technologiesStatic.[0]}}
                {{> _service-technology-column-static services.technologiesStatic.[1]}}
                {{> _service-technology-column-static services.technologiesStatic.[2]}}
            </div>
            <div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom">
                {{> _service-technology-column-static services.technologiesStatic.[3]}}
                {{> _service-technology-column-static services.technologiesStatic.[4]}}
            </div>
            <div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom">
                {{> _service-technology-column-static services.technologiesStatic.[5]}}
                {{> _service-technology-column-static services.technologiesStatic.[6]}}
                {{> _service-technology-column-static services.technologiesStatic.[7]}}
            </div>
        </div>
    </div>
</div>
