@model HowWeWorkPartnershipItemBlock

<div class="col-xs-12 col-sm-6">
    <div class="partnership-models">
        <div class="partnership-models__title">
            @Html.PropertyFor(x => x.Title)
        </div>
        @Html.PropertyFor(x => x.Content)
    </div>
</div>

