<section class="page-introduction-container news-detail-introduction-container">
    <div class="page-introduction-top-block news-detail-introduction-top-block" data-require="base/news-detail-introduction">
        <div class="page-introduction-top-block__background page-introduction__background news-detail-introduction__background">
            <img src="/img/bgOur-Work-Introduction.png" />
        </div>
        <div class="page-introduction-top-block__content page-introduction__content news-detail-introduction__content">
            <h1>{{title}}</h1>
            <div class="yellow-divider"></div>
            <div class="page-description__description">
                <p>
                    {{{description}}}
                </p>
            </div>
        </div>
    </div>
</section>