$phonePortrait: 480px;
$phoneLandscape: 640px;
$tabletSize: 768px;
$desktopSize: 992px;
$laptopSize: 1200px;
$midLaptopSize: 1650px;

$bigScreen: 1900px;

$header-underline-height: 5px;
$header-underline-width: 100px;

$portraitMode: portrait;
$landscapeMode: landscape;
