---
title: "Community Partners"
---
<div class="careers-middle-block careers-block community-column-container" style="background-image: url('/img/about_community_bg.jpg');">
    <div class="container">
        <div class="community-header">
            <h2>Community Partners</h2>
            <div class="yellow-divider"></div>
        </div>
        <div class="row careers-apply-step">
            <div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom">
                <div class="careers-step-detail">
                    <div class="step-content community-content">
                        <h3 class="step-name">Send Us Your CV</h3>
                        <p>
                            Send and English CV to hr@niteco.se in
                            any printable format. Include your
                            work experience and skills.
                        </p>
                    </div>
                    <div class="group-image-header">
                        <div class="group-image-header__image">
                            <img src="/img/about_community_east_meeting_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom">
                <div class="careers-step-detail">
                    <div class="step-content community-content">
                        <h3 class="step-name">Test and Interview</h3>
                        <p>
                            Go through some quick test(s) designed
                            for your applied position, and have a
                            one-on-one chat with our recruiter.
                        </p>
                    </div>
                    <div class="group-image-header">
                        <div class="group-image-header__image">
                            <img src="/img/about_community_dragon_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 checking-animate inactive slide-in-from-bottom">
                <div class="careers-step-detail">
                    <div class="step-content community-content">
                        <h3 class="step-name">Join the Nitecan’s</h3>
                        <p>
                            We’ll send you a job offer in writing
                            and thoroughly prep you up for
                            becoming a Nitecan!
                        </p>
                    </div>
                    <div class="group-image-header">
                        <div class="group-image-header__image">
                            <img src="/img/about_community_smile_icon.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>