<connectionStrings>
  <clear />
  <!--<add name="EPiServerDB" connectionString="Data Source=.;Initial Catalog=NitecoWeb;Integrated Security=False;User ID=userNitecoWeb;Password=Niteco#2015;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="EPiServerDB" connectionString="Data Source=NI-TEST01;Initial Catalog=NitecoWeb;Integrated Security=False;User ID=userNitecoWeb;Password=Niteco#2015;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>