<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <!-- This adds the Alloy template assembly to the "default module" -->
    <add assembly="Niteco.ContentTypes" />
    <add assembly="Niteco.Web" />
  
  </assemblies>
  <dojoModules>
    <add name="niteco" path="~/ClientResources/Scripts" />
   
    <!--<add name="Niteco.Press" path="Scripts" />-->
  </dojoModules>
  <clientResources>
    <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
  </clientResources>
  <clientModule initializer="niteco.ModuleInitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <!--<add name="ArticleTab.css" />
      <add name="Image.css" />
      <add name="Jcrop.css" />
      <add name="ColorPicker.css" />-->
    </requiredResources>
  </clientModule>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="niteco" path="Scripts" />
    </paths>
  </dojo>
</module>
