<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="BVN.404Handler" version="4.1.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.9" targetFramework="net45" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EPiServer.CMS" version="9.10.1" targetFramework="net45" />
  <package id="EPiServer.CMS.Core" version="9.10.1" targetFramework="net45" />
  <package id="EPiServer.CMS.UI" version="9.7.0" targetFramework="net45" />
  <package id="EPiServer.CMS.UI.Core" version="9.7.0" targetFramework="net45" />
  <package id="EPiServer.ConnectForMarketingAutomation" version="2.2.2.9000" targetFramework="net45" />
  <package id="EPiServer.Framework" version="9.10.1" targetFramework="net45" />
  <package id="EPiServer.GoogleAnalytics" version="1.9.3.9000" targetFramework="net45" />
  <package id="EPiServer.Logging.Log4Net" version="2.0.0" targetFramework="net45" />
  <package id="EPiServer.MarketingAutomationIntegration.Marketo" version="1.1.0.9000" targetFramework="net45" />
  <package id="EPiServer.Packaging" version="3.2.4" targetFramework="net45" />
  <package id="EPiServer.Packaging.UI" version="3.2.4" targetFramework="net45" />
  <package id="EPiServer.Search" version="8.0.0" targetFramework="net45" />
  <package id="EPiServer.Social" version="2.1.4.9000" targetFramework="net45" />
  <package id="GoogleMaps.LocationServices" version="0.9.8.6" targetFramework="net45" />
  <package id="jQuery" version="2.2.3" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.15.0" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Niteco.UI" version="1.0.160704.1112" targetFramework="net45" />
  <package id="NuGet.Core" version="2.5.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="SiteAttentionModule" version="2.4.1.0" targetFramework="net45" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net45" />
  <package id="structuremap.web-signed" version="3.1.6.191" targetFramework="net45" />
  <package id="structuremap-signed" version="3.1.6.191" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
  <package id="WebMarkupMin.AspNet.Common" version="2.0.0" targetFramework="net45" />
  <package id="WebMarkupMin.AspNet4.Common" version="2.0.0" targetFramework="net45" />
  <package id="WebMarkupMin.AspNet4.Mvc" version="2.0.0" targetFramework="net45" />
  <package id="WebMarkupMin.Core" version="2.0.0" targetFramework="net45" />
  <package id="WebMarkupMin.MsAjax" version="2.0.0" targetFramework="net45" />
  <package id="WebMarkupMin.Yui" version="2.0.0" targetFramework="net45" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net45" />
</packages>